<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<div id="dv"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '122099236334028554',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v17.0'
    });

    FB.api(
            "",
    		'GET',
    		{"fields":"id,media_type,media_url,permalink,username,caption,timestamp"},
    		function(response) {
    			console.log(response)
    			  var data = response.data
    		      var html = ""
    		      for(var i=0; i<data.length; i++){
    		    	  console.log(data[i])

    		    		html += '<p id="username'+ i +'">' +'사용자 아이디 : '+ data[i].username + '</p>';
    		    		html += '<p id="caption' + i +'">' +'게시글 내용 : ' + data[i].caption + '</p>'
    		    		html += '<img id="image' + i + '" src="' + data[i].media_url + '" width="300" height="300">'
    		    		html += '<p id="time'+ i +'">'+ '작성일 : ' + data[i].timestamp + '</p>';


    		      }
    			  $('#dv').html(html)
    		}
    );
  };
</script>
</body>
</html>